a{
	color: steelblue;
}
div a{
	color: steelblue;
}
.back-tab{
	background-color: whitesmoke;
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0px;
	border-radius: 5px;
}
.badges{
	float: right;
}
body{
	padding: 25px;
}
.category{
/*	padding: 10px;*/
	margin: 5px 0px;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	border-radius: 5px;
}
footer{
	text-align: center;
	font-size: .75em;
}
h3{
/*	font-weight:lighter;*/
	display: inline;
}
html{
	font-size: 75%;
}
label{
	font-weight: 600;
}
.panel{
	padding: 20px;
}
#saveAndCancelButtons{
	float: right;
}
.tab-title{
	background-color: whitesmoke;
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: thin solid lightgray;
}
